## Using NLP concepts in practise
### Real or Not? NLP with Disaster Tweets
Predict which Tweets are about real disasters and which ones are not <br>
https://www.kaggle.com/c/nlp-getting-started/overview

## Imports libraries

In [7]:
import pandas as pd
import numpy as np
from sklearn import feature_extraction, linear_model, model_selection, preprocessing

## Loads data

In [6]:
'''from github

url1 = 'https://raw.githubusercontent.com/AlicjaDobrzeniecka/NLP-chatbot/master/nlp-kaggle/train.csv'
r = requests.get(url1)
train_df = r.content.decode("utf-8") 

url2 = 'https://raw.githubusercontent.com/AlicjaDobrzeniecka/NLP-chatbot/master/nlp-kaggle/test.csv'
r = requests.get(url2)
test_df = r.content.decode("utf-8") 

'''

'from github\n\nurl1 = \'https://raw.githubusercontent.com/AlicjaDobrzeniecka/NLP-chatbot/master/nlp-kaggle/train.csv\'\nr = requests.get(url1)\ntrain_df = r.content.decode("utf-8") \n\nurl2 = \'https://raw.githubusercontent.com/AlicjaDobrzeniecka/NLP-chatbot/master/nlp-kaggle/test.csv\'\nr = requests.get(url2)\ntest_df = r.content.decode("utf-8") \n\n'

In [3]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv('test.csv')

## Shows data

In [4]:
train_df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [5]:
test_df.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

## Chooses tweet that is not about disaster event (target value == 0)

In [10]:
train_df[train_df["target"] == 0]["text"].values[0]

"What's up man?"

## Chooses tweet about disaster event (target value == 1)

In [11]:
train_df[train_df["target"] == 1]["text"].values[0]

'Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all'